<!-- admin.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- En-tête de la page -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Liens vers les styles et les bibliothèques externes -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap">
    <title>ADMIN PAGE</title>

    <style>  
    /* On lance le site sans formulaire d'ouvert */     
        form {
            display: none;
        }
    </style>

     <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button onclick="toggleForm('icecreamForm')">Add Iceceam</button>
            </li>
            <li class="nav-item">
                <button onclick="toggleForm('toppingForm')">Add Topping</button>
            </li>
            <li class="nav-item">
                <span class="blue-letter">A</span><span class="pink-letters">dmin Page</span>
            </li>
            <li class="nav-item">
                <button id="showIcecreamsBtn" onclick="hideOtherForms();">Edit/Remove</button>
            </li>

            <li class="nav-item">
                <a href="/" class="btn btn-primary">Home</a>
            </li>


        </ul>
    </nav>
</head>

<body>

    <section id="icecreamsSection" class="container" style="display: none;">
        <h2>ICECREAMS</h2>
        <div class="row">
            <!-- Boucle pour afficher chaque glace -->
            <% icecreams.forEach(icecream=> { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="<%= icecream.icecream_image %>" class="card-img-container"
                            alt="<%= icecream.icecream_name %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= icecream.icecream_name %>
                            </h5>
                            <p class="card-text">
                                <%= icecream.icecream_description %>
                            </p>
                            <p class="card-text">Price : $<%= icecream.icecream_baseprice %>
                            </p>
                            <!-- Form to delete icecream -->
                            <button class="btn btn-primary" onclick="modifyIcecream(<%= icecream.icecream_id %>)">Modify
                            </button>
                            <button class="btn btn-danger" onclick="deleteIcecream(<%= icecream.icecream_id %>)">Remove
                                from DB</button>

                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </section>
    <!-- Section pour afficher les toppings -->
    <section id="toppingsSection" class="container" style="display: none;">
        <h2>TOPPINGS</h2>
        <div class="row">
            <!-- Boucle pour afficher chaque topping -->
            <% toppings.forEach(topping=> { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="<%= topping.topping_image %>" class="card-img-container"
                            alt="<%= topping.topping_name %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= topping.topping_name %>
                            </h5>
                            <p class="card-text">
                                <%= topping.topping_description %>
                            </p>
                            <p class="card-text">Price: $<%= topping.topping_price %>
                            </p>
                            <!-- Form to delete topping -->
                            <button class="btn btn-primary"
                                onclick="modifyTopping(<%= topping.topping_id %>)">Modify</button>
                            <button class="btn btn-danger" onclick="deleteTopping(<%= topping.topping_id %>)">Remove
                                from DB</button>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </section>


    <!-- Formulaire pour ajouter une glace -->
    <form id="icecreamForm" action="/addIcecream" method="POST">
        <h1>Add Icecream</h1>
        <label for="icecream_brand">Icecream Brand:</label>
        <input type="number" id="icecream_brand" name="icecream_brand" required>
        <br>

        <label for="icecream_name">Icecream Name:</label>
        <input type="text" id="icecream_name" name="icecream_name" required>
        <br>

        <label for="icecream_baseprice">Icecream Price:</label>
        <input type="number" id="icecream_baseprice" name="icecream_baseprice" required>
        <br>

        <label for="icecream_calory">Icecream Calory:</label>
        <input type="number" id="icecream_calory" name="icecream_calory" required>
        <br>

        <label for="icecream_stock">Icecream Stock:</label>
        <input type="number" id="icecream_stock" name="icecream_stock" required>
        <br>

        <label for="icecream_description">Icecream Description:</label>
        <input type="text" id="icecream_description" name="icecream_description" required>
        <br>

        <label for="icecream_image">Icecream Image:</label>
        <input type="text" id="icecream_image" name="icecream_image" required>
        <br>

        <button type="submit">Add</button>
    </form>



    <!-- Formulaire pour ajouter un topping -->
    <form id="toppingForm" action="/addTopping" method="POST">
        <h1>Add Topping</h1>
        <label for="topping_name">Topping Name:</label>
        <input type="text" id="topping_name" name="topping_name" required>
        <br>

        <label for="topping_price">Topping Price:</label>
        <input type="number" id="topping_price" name="topping_price" required>
        <br>

        <label for="topping_calory">Topping Calory:</label>
        <input type="number" id="topping_calory" name="topping_calory" required>
        <br>

        <label for="topping_stock">Topping Stock:</label>
        <input type="number" id="topping_stock" name="topping_stock" required>
        <br>

        <label for="topping_description">Topping Description:</label>
        <input type="text" id="topping_description" name="topping_description" required>
        <br>

        <label for="topping_image">Topping Image:</label>
        <input type="text" id="topping_image" name="topping_image" required>
        <br>

        <button type="submit">Add Topping</button>
    </form>



    <!-- formulaire Modal pour modifier une glace -->
    <div id="modifyIcecreamModal" class="modal-overlay">
        <div class="modal-content">
            <button onclick="hideModifyIcecreamModal()" class="close-button">Close</button>
            <form id="modifyIcecreamForm" action="/modifyIcecream" method="POST">

                <h1>Modify Icecream</h1>
                <label for="icecream_brand">Icecream Brand:</label>
                <input type="number" id="mdy_icecream_brand" name="icecream_brand" required>
                <br>

                <label for="icecream_name">Icecream Name:</label>
                <input type="text" id="mdy_icecream_name" name="icecream_name" required>
                <br>

                <label for="icecream_baseprice">Icecream Price:</label>
                <input type="number" id="mdy_icecream_baseprice" name="icecream_baseprice" required>
                <br>

                <label for="icecream_calory">Icecream Calory:</label>
                <input type="number" id="mdy_icecream_calory" name="icecream_calory" required>
                <br>

                <label for="icecream_stock">Icecream Stock:</label>
                <input type="number" id="mdy_icecream_stock" name="icecream_stock" required>
                <br>

                <label for="icecream_description">Icecream Description:</label>
                <input type="text" id="mdy_icecream_description" name="icecream_description" required>
                <br>

                <label for="icecream_image">Icecream Image:</label>
                <input type="text" id="mdy_icecream_image" name="icecream_image" required>
                <br>

                <button type="submit">Update Icecream</button>
            </form>
        </div>
    </div>


    <!-- formulaire Modal pour modifier un topping -->
    <div id="modifyToppingModal" class="modal-overlay">
        <div class="modal-content">
            <button onclick="hideModifyToppingModal()" class="close-button">Close</button>
            <form id="modifyToppingForm" action="/modifyTopping" method="POST">
                <h1>Modify Topping</h1>
                <label for="topping_name">Topping Name:</label>
                <input type="text" id="mdy_topping_name" name="topping_name" required>
                <br>

                <label for="topping_price">Topping Price:</label>
                <input type="number" id="mdy_topping_price" name="topping_price" required>
                <br>

                <label for="topping_calory">Topping Calory:</label>
                <input type="number" id="mdy_topping_calory" name="topping_calory" required>
                <br>

                <label for="topping_stock">Topping Stock:</label>
                <input type="number" id="mdy_topping_stock" name="topping_stock" required>
                <br>

                <label for="topping_description">Topping Description:</label>
                <input type="text" id="mdy_topping_description" name="topping_description" required>
                <br>

                <label for="topping_image">Topping Image:</label>
                <input type="text" id="mdy_topping_image" name="topping_image" required>
                <br>
                <button type="submit">Update Topping</button>
            </form>
        </div>
    </div>
     <!-- Script pour la page admin -->
    <script src="/js/admin.js">
    </script>


</body>

</html>