<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/myAccount.css">
    <title>My Account - Icreamzouz</title>
</head>

<body>
     <!-- Liens pour la déconnexion et le retour à la page d'accueil -->
    <a href="/logout" class="logout-button">Déconnexion</a>
    <a href="/" class="home-button">Go to Homepage</a>

    <!-- Conteneur principal pour les informations du compte utilisateur -->
    <div class="my-account-container">
        <div class="user-info">
            <h2>Informations Utilisateur</h2>
             <!-- Vérification et affichage des données utilisateur -->
            <% if (userData) { %>
                <p><strong>Nom:</strong>
                    <%= userData.user_name %>
                </p>
                <p><strong>Email:</strong>
                    <%= userData.user_email %>
                </p>
                <p><strong>Adresse:</strong>
                    <%= userData.user_address %>
                </p>

                <button onclick="toggleForm('modifyUserForm')">Modifier les infos utilisateur</button>
                <% } else { %>
                    <p>Aucune information trouvée pour cet utilisateur.</p>
                    <% } %>
        </div>

        <!-- Formulaire de modification dans une case séparée -->
        <div class="modify-form" id="modifyUserForm" style="display: none;">

            <form id="modifyUserForm" action="/modifyUser" method="POST">
                <h2>Modifier les Informations</h2>
                <label for="user_name">Nom:</label>
                <!-- On entre dans value les information actuelle de l'utilisateur -->
                <input type="text" id="user_name" name="user_name" value="<%= userData ? userData.user_name : '' %>" 
                    required><br>

                <label for="user_email">Email:</label>
                <input type="email" id="user_email" name="user_email" value="<%= userData ? userData.user_email : '' %>"
                    required><br>

                <label for="user_address">Adresse:</label>
                <input type="text" id="user_address" name="user_address"
                    value="<%= userData ? userData.user_address : '' %>" required><br>

                <button type="submit">Mettre à jour</button>
            </form>
        </div>
        <!-- Autres contenus HTML -->
    </div>

    <!-- Scripts -->
    <script src="/js/myAccount.js">
    </script>
</body>

</html>